.heading-container {
    width: 100%;
    background-color: red;
}

.heading-font {
    font-size: 3rem;    
    font-weight: 600;
    line-height: 1.125;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}